@import '../assets/colors.scss';

.home-screen {
    display: flex;
    font-size: 1rem;
    height: calc(100% - 3.5rem);

    .left {
        background-color: $desert_sand;
        display: flex;
        flex-direction: column;
        overflow: auto;
        flex: 25%;

        .list {
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-left-width: 0;
            border-right-width: 0;

            .list-item {
                background-color: $desert_sand;
                text-align: center;
            }

            .list-item:hover {
                filter: brightness(0.975);
            }
        }
    }

    .right {
        align-items: center;
        background-color: $eggshell;
        flex: 75%;
        justify-content: center;
        overflow: auto;
        padding: 1rem 1rem;

        .content {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}